
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home'%}" target="blank"><strong>Gallery</strong></a>
    
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto" >
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}" style="border-radius: 20px; background-color: lavender;">Admin</a>
        </li>
      </ul>
    </div>
      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control me-2" placeholder="Search image" name="category" style="width: 50px;">
            <div class="input-group-btn">
              <button class="btn btn-default" style="background-color: whitesmoke;" type="submit"><i class="glyphicon glyphicon-search"></i><ion-icon name="search-outline"></ion-icon></button>
            </div>
          </div>

        </form>
      </div>
      <!-- search form end -->
  </div>
</nav>
</body>
</html>